<% provide(:title, "Send Email to All Users") %>
<div class="row">
  <div class="" style="float: left;width: 40%">
    <h2>Send Email to All Users</h2>
  </div>

  <div class="" style="float: right;width: 60%">
    <%= form_for (@message) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :"Subject" %><br>
    <%= f.text_field :subject %><br>

    <%= f.label :'Message' %><br>
    <%= f.text_area :message_text%><br>

    </br>
    <%= f.submit "Send", class: "btn btn-medium btn-primary" %>
  <% end %>
  </div>
</div>
