<%= provide(:title, "Sign in")%>
<div class="row">
  <div class="col-md-3 hidden-xs">

  </div>

  <div class="col-md-6 container">
    <div>
      <h2>Sign in</h2>
    </div>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
    <%= f.text_field :email, class:"form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class:"form-control" %>
    <br>
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <div class="col-md-3 hidden-xs">

  </div>
</div>
