<%= provide(:title, "Sign in")%>
<div class="row">
  <div class="" style="float: left;width: 40%">
    <h2>Sign in</h2>
  </div>
  <div class="" style="text-align: left;float: right;width: 60%">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <%= f.submit "Sign in", class: "btn btn-medium btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>