<% provide(:title, @user.fname) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.fname %>
      </h1>
    </section>

  <!-- display all the items that the user has added to cart -->
    <div class="span10 offset1">
    <h2> Cart </h2>
      <table class="table table-striped">
         <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
         </tr>
         <% @bids.each do |bid| %>
         <tr>
            <% item = Item.find(bid.item_id) %>
            <td><%= image_tag item.pic.url(:thumb)%><%= link_to item.name, item %></td>
            <td><%= bid.quantity %></td>
            <td><%= bid.bid_price %></td>
            <!--<td><%= link_to 'Delete', item, method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'delete_item' %></td>-->
         </tr>
         <% end %>
      </table>
      <h2 style="color:red;" > Total Price: <%= " #{total_price(@bids)}" %> </h2>
      <%= link_to "Checkout", new_purchase_path, class: "btn btn-large btn-primary" %>

    </div>

</aside>
</div>
