<% provide(:title, "Edit user") %>
<h1>Update your info</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :'First Name' %>
      <%= f.text_field :fname %>

      <%= f.label :'Last Name' %>
      <%= f.text_field :lname %>

      <%= f.label :'Email' %>
      <%= f.text_field :email %>

      <%= f.label :'Password' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

    <% end %>

    <% if @user.creditcards.count >= 1 %>
        <%= link_to 'Edit Credit Card Information', edit_creditcard_path %>
    <% else %>
        <%= link_to 'Add Credit Card Information', new_creditcard_path %>
    <% end %>

  </div>
</div>
