<% provide(:title, "Edit user") %>
<div class="row">
  <div class="" style="float: left;width: 40%">
<h2>Update your info</h2>
   </div>

  <div class="" style="float: right;width: 60%">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :'First Name' %>
      <%= f.text_field :fname %>

      <%= f.label :'Last Name' %>
      <%= f.text_field :lname %>

      <%= f.label :'Email' %>
      <%= f.text_field :email %>

      <%= f.label :'Shipping Address' %>
      <%= f.text_field :shipping_address %>

      <%= f.label :'Phone No.' %>
      <%= f.text_field :phone_no %>
      <br>
      <%= f.submit "Save changes", class: "btn btn-medium btn-primary" %>

    <% end %>

    <% if @user.creditcards.count >= 1 %>
        <%= link_to 'Edit Credit Card Information', edit_creditcard_path %>
    <% else %>
        <%= link_to 'Add Credit Card Information', new_creditcard_path %>
    <% end %>

  </div>
</div>
