<% provide(:title, "Edit user") %>
<div class="row">
  <div class="col-md-3 hidden-xs">

  </div>

  <div class="col-md-6 container">
    <h2 style="text-align: left">Update your info</h2>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :'First Name' %><br>
    <%= f.text_field :fname %><br>

    <%= f.label :'Last Name' %><br>
    <%= f.text_field :lname %><br>

    <%= f.label :'Email' %><br>
    <%= f.text_field :email %><br>

    <%= f.label :'Shipping Address' %><br>
    <%= f.text_field :shipping_address %><br>

    <%= f.label :'Phone No.' %><br>
    <%= f.text_field :phone_no %><br>

    <%= f.submit "Save changes", class: "btn btn-medium btn-primary" %>
     <br><br>
  <% end %>

    <% if @user.creditcards.count >= 1 %>
      <%= link_to 'Edit Credit Card Information', edit_creditcard_path %>
  <% else %>
      <%= link_to 'Add Credit Card Information', new_creditcard_path %>
  <% end %>

  </div>
  <div class="col-md-3 hidden-xs">

  </div>
</div>
