<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

  <table class="table table-striped">
     <tr>
        <th>User Name</th>
        <th>Type</th>
        <!--<th>Status</th>-->
        <th>Actions</th>
     </tr>
     <% @non_admin_users.each do |user| %>
     <tr>
        <td><%= link_to "#{user.fname} #{user.lname}", user %></td>
        <td><%= type(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'delete_user' %></td>
     </tr>
     <% end %>
  </table>

<%= will_paginate %>