<% provide(:title, 'Sign Up') %>
<div class="row">

 <div class="" style="float: left;width: 40%">
    <h2>Sign Up</h2>
 </div>
 <div class="" style="float: right;width: 60%">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :'First Name' %>
      <%= f.text_field :fname %>

      <%= f.label :'Last Name' %>
      <%= f.text_field :lname %>

      <%= f.label :'Email' %>
      <%= f.text_field :email %>

      <%= f.label :'Password' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= f.check_box :is_seller  %>
      <%= f.label :'I want to sell (Credit card information will be required)' %>

      <br><br/>
      <%= f.submit "Create my account", class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
</div>


