<% provide(:title, 'Confirm New Purchase') %>
<div class="row">
  <div class="" >
    <h4>Confirm New Purchase(s)</h4>
    <table class="table table-striped">
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <% @purchase_items.each do |bid| %>
        <tr>
        <% item = Item.find(bid.item_id) %>
        <td><%= image_tag item.pic.url(:thumb)%><%= link_to item.name, item %></td>
        <td><%= bid.quantity %></td>
        <td><%= bid.bid_price %></td>
      </tr>
    <% end %>
    </table>
    <h4 style="color:red;" > Total Price: <%= " #{total_price(@purchase_items)}" %> </h4>
  </div>
</div>

<div class="row">
  <div class="">
    <%= form_for(@purchase) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :"Using Credit Card ending in: XXXX-XXXX-XXXX-#{@user.creditcards.first.credit_card_no[12..16]}" %>
    <br></br>
    <%= f.label :'Shipping Address' %>
    <%= f.text_field :shipping_address %>
    <br>
    <%= f.submit "Confirm the Purchase", class: "btn btn-medium btn-primary" %>
  <% end %>
  </div>
</div>


