<% provide(:title, "Enter credit card details") %>
<h1>Enter credit card details</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for (@creditcard) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :"Credit Card Number" %>
        <%= f.text_field :credit_card_no %>

        <%= f.label :'Valid through - Month' %>
        <%= f.select :expiry_month, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12])%>

        <%= f.label :"Valid through - Year" %>
        <%= f.select :expiry_year, options_for_select([2013,2014,2015,2016,2017,2018,2019,2020])%>

        <%= f.label :"Security Code" %>
        <%= f.text_field :security_code %>

        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
