<% provide(:title, @categ) %>

<h3><%= @categ %></h3>
<div class="row">
  <div class="col-xs-4 col-md-6" style="width: 20%;float: left">
    <hr>
    <%= render 'navigation' %>
  </div>
  <div class="col-xs-8 col-md-6" style="width: 80%;float: right">
    <hr>
    <% if @items_to_show.blank?  %>
    </div>
</div>
    <% else %>
  <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <% i= 0 %>
      <% @items_to_show.each do |item| %>
        <% i=i+1 %>
      <div class="col-xs-6 col-md-4">
        <%= image_tag item.pic.url(:thumb) %>
        <p style="text-align: left">
        <% if is_admin? && item.for_auction && auctionExpire?(item) %>
          <% @string = "(Auction closed)" %>
      <% else %>
          <% @string = "" %>
      <% end %>

        <% if is_admin? && item.deactivated == true%>
              <% if hotItem(item) %>
                  <%= image_tag("hot.jpg", alt: "hot", height: "22px", width: "50px") %>

              <%end%>
              <%= link_to "#{item.name} #{@string} (Deactivated)", item %>
      <% else %>
              <% if hotItem(item) %>
                  <%= image_tag("hot.jpg", alt: "hot", height: "22px", width: "50px") %>

              <%end%>
              <%= link_to "#{item.name} #{@string}", item %>
      <% end %>
        </p>
      </div>
      <% if i%3==0 %>

        <% if @items_to_show[i].blank? %>
      <% else %>
      </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
    <% end %>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

  </div>
</div>
<% end %>

