<% provide(:title, 'Sell Item') %>
<div class="row">
  <div class="col-md-3 hidden-xs">

  </div>
  <div class="col-md-6 container">

      <h2 style="text-align: left">New Item</h2>

    <%= form_for @item,:html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :category_id %><br>
    <% if @cats.empty?
         arr = [["All",0]]
    else
      arr = @cats.map { |c| [c.name, c.id ]}
    end
  %><br>
  <%= f.select :category_id, options_for_select(arr)%><br>

    <%= f.label :description %><br>
    <%= f.text_area :description ,:cols => "70", :rows => "5"%><br>

    <%= f.label :base_price %><br>
    <%= f.text_field :base_price %><br>

    <%= f.hidden_field :for_auction, :value => params[:auction] %>
    <% if params[:auction] == "true" %>
      <!--for auction: show duration inputs of bidding, mark quantity as 1, status as 1-->
    <%= f.hidden_field :quantity, :value => 1 %>
    <%= f.hidden_field :status, :value => 1 %>
    <%= f.label :"Duration of Bid" %><br>
    <table>
      <tr>
        <th><%= f.select :bid_days, options_for_select([0,1,2,3,4,5])%></th>
        <th><%= f.label :"Days" %></th>
      </tr>
      <tr>
        <th><%= f.select :bid_hours, options_for_select([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23])%></th>
        <th><%= f.label :"Hours" %></th>
      </tr>
      <tr>
        <th><%= f.select :bid_minutes, options_for_select([0,1,2,5,10,15,20,25,30,35,40,45,50,55])%></th>
        <th><%= f.label :"Minutes" %></th>
      </tr>
    </table>
  <% else %>
      <!--for sell: show quantity input field-->
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity%><br>
  <% end %>

    <p>
    <b> Picture </b><br/>
    <%= f.file_field :pic %><br>
    </p>

    <% if params[:auction] == "true" %>
      <%= f.submit "Submit Item for Auction", class: "btn btn-medium btn-primary" %>
  <% else %>
      <%= f.submit "Submit Item for Sale", class: "btn btn-medium btn-primary" %>
  <% end %>

  <% end %>
  </div>
  <div class="col-md-3 hidden-xs">

  </div>
</div>
