<% provide(:title, "#{@item.name}") %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 style="text-align: left">
      <%= "#{@item.name}"%>
      <% if hotItem(@item) %>
          <%= image_tag("hot.jpg", alt: "hot", height: "22px", width: "50px") %>
      <% end %>
          </h3>
    </div>
    <div class="panel-body">
      <div class="row">

    <!-- Item name -->

    <div style="float:left; width:40%;">             <!-- Left div -->
      <!-- Thumbnail image of the item -->
      <div class="col-md-1">
      </div>
      <% if request.user_agent.scan("Mobile").blank? %>
          <%= image_tag @item.pic.url(:medium) %><br/>
      <% else%>
          <%= image_tag @item.pic.url(:thumb) %><br/>
      <% end %>
    </div>

    <div style="float:right; width:60%">       <!-- Right div -->
      <div id="item_details">

        <% if !@item.for_auction %>
          <div id="label_base_price">
          <p>Price : <%= "$ #{@item.base_price}"%></p>
        </div>
      <% else %>
          <div id="label_base_price">
          <% if @item.highest_bid != 0%>
            <p>Highest Bid : <%= "$ #{@item.highest_bid}"%></p>
        <% end %>
          <p>Base Price : <%= "$ #{@item.base_price}"%></p>
        </div>
      <% end %>

        <div id="item_desc">
          <p><%= "Description: #{@item.description}"%></p>
        </div>
        <div id="seller_info">
          <% @seller = User.find_by_id(@item.user_id) %>
          <p><%= "Seller: #{@seller.fname} #{@seller.lname}"%></p>
        </div>
        <div id="view_count">
          <p><%= "#{@item.view_count} views"%></p>
        </div>

        <% if !@item.for_auction %>
          <!-- for sell: Quantity and buy button-->
        <div id="quantity">
          <p>Available: <%= " #{@item.quantity}"%></p>

          <% if signed_in? %>
            <% if !is_admin? && (@item.user_id != current_user.id)%>
            <%= form_for @bid, :url => buy_bid_path(:item_id => @item.id) do |f| %>
            <%= f.label :quantity %><br>
          <%= f.text_field :quantity %>
          <br>
          <%= f.submit "Add to Cart", class: "btn btn-medium btn-primary" %>
        <% end %>
        <% end %>
        <% else %>
            <br></br>
          <p> Sign in to buy item</p>
        <% end %>
        </div>

      <% else %>
          <!-- for auction: auction status & bid button & bid history-->

        <% if @item.status == 1 %>
          <!-- for ongoing auction  -->
        <p><%= "Auction will end at: #{auctionEndtime(@item)}"%></p>
        <% if signed_in? %>
          <% if !is_admin? && (@item.user_id != current_user.id)%>
          <%= form_for @bid, :url => new_bid_path do |f| %>
          <%= f.label :bid_price %></br>
        <%= f.text_field :bid_price %>
        <%= f.hidden_field :item_id, :value => @item.id %><br>
        <%= f.submit "Place a Bid", class: "btn btn-medium btn-primary" %>
      <% end %>
      <% end %>
      <% else %>
          <br></br>
        <p> Sign in to bid on this item</p>
      <% end %>

        <!-- show bidding history  -->
        <br></br>
        <% if @bids.size != 0%>
            <p>Bidding History</p>
            <table>
              <tr>
                <th>price&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>bidder</th>
              </tr>
            <% @bids.each do |bid| %>
              <% bidder = User.find(bid.user_id) %>
              <tr>
                <th><%= "#{bid.bid_price}" %></th>
                <th><%= "#{bidder.fname} #{bidder.lname}" %></th>
              </tr>
            <% end %>
            </table>
        <% else %>
            <p>Bidding History:&nbsp;&nbsp;&nbsp;no bidders yet.</p>
        <% end %>

        <!-- for closed auction  -->
      <% else %>
          <p><%= "Auction has closed"%></p>
        <p><%= "The winner is #{@winner.fname} #{@winner.lname}"%></p>
      <% end %>

      <% end %>

        <!-- Deactivate/Activate Item-->
        <% if is_admin? %>
          <div id="deactivate_user">
          <!-- to be modified -->
          <%= render 'deactivate_item_form' %>
        </div>
      <% end %>

      </div>
    </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', items_path %>




