<% provide(:title, "#{@item.name} #{@item.description}") %>
<div class="row">

    <section>
      <!-- Item name -->
      <h2>
        <%= "#{@item.name}"%>
      </h2>

      <div style="width:100%;"> <!-- Main Div -->

        <div style="float:left; width:40%;">             <!-- Left div -->
          <!-- Thumbnail image of the item -->
          <%= image_tag @item.pic.url(:thumb) %><br/>
          <br />
        </div>
        <div style="float:right; width:50%; margin-left:10px;">       <!-- Right div -->
          <div id="item_details">
            <div id="label_base_price">
              <p>Base Price : <%= "$ #{@item.base_price}"%></p>
            </div>

            <!--<% if @highest_bid != nil%>-->
                <!--<div id="label_bid_price">-->
                  <!--<p>Latest Bid Price : <%= "$ #{@highest_bid.bid_price}"%></p>-->
                <!--</div>-->
            <!--<% end %>-->

            <div id="item_desc">
              <p><%= "Description: #{@item.description}"%></p>
            </div>
            <div id="seller_info">
              <% @seller = User.find_by_id(@item.user_id) %>
              <p><%= "Seller: #{@seller.fname} #{@seller.lname}"%></p>
            </div>

            <!-- Quantity -->
            <div id="quantity">
              <p>Available: <%= " #{@item.quantity}"%></p>
              <% if signed_in? %>
              <%= form_for @bid, :url => buy_bid_path(:item_id => @item.id) do |f| %>
                  <%= f.label :quantity %>
                  <%= f.text_field :quantity %>
                  <%= f.submit "Add to Cart", class: "btn btn-large btn-primary" %>
              <% end %>
              <% else %>
              <p> Sign In to Buy Item</p>
              <% end %>

            </div>

            <!-- Links to buy or bid for the item -->
            <div id="links_for_item">

              <!-- HIDING THE BID BUTTON FOR THE DEMO   -->

              <!--%= link_to "Bid", new_bid_path(:item_id => @item.id), class: "btn btn-large btn-primary" %>  -->

              <!--%= link_to "Buy", buy_bid_path(:item_id => @item.id), class: "btn btn-large btn-primary" %-->
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

<%= link_to 'Back', items_path %>
