<% provide(:title, "#{@item.name} #{@item.description}") %>

<div class="row">

    <section>
      <!-- Item name -->
      <h2>
        <%= "#{@item.name}"%>
        <% if hotItem(@item) %>
            <%= image_tag("hot.jpg", alt: "hot") %>
        <% end %>
      </h2>

        <div style="float:left; width:40%;">             <!-- Left div -->
          <!-- Thumbnail image of the item -->
          <%= image_tag @item.pic.url(:thumb) %><br/>
          <br />
        </div>

        <div style="float:right; width:60%">       <!-- Right div -->
          <div id="item_details">
            <div id="label_base_price">
              <p>Base Price : <%= "$ #{@item.base_price}"%></p>
            </div>

            <!--<% if @highest_bid != nil%>-->
                <!--<div id="label_bid_price">-->
                  <!--<p>Latest Bid Price : <%= "$ #{@highest_bid.bid_price}"%></p>-->
                <!--</div>-->
            <!--<% end %>-->

            <div id="item_desc">
              <p><%= "Description: #{@item.description}"%></p>
            </div>
            <div id="seller_info">
              <% @seller = User.find_by_id(@item.user_id) %>
              <p><%= "Seller: #{@seller.fname} #{@seller.lname}"%></p>
            </div>
            <div id="view_count">
              <p><%= "#{@item.view_count} views"%></p>
            </div>

            <!-- Quantity -->
            <div id="quantity">
              <p>Available: <%= " #{@item.quantity}"%></p>

              <% if signed_in? %>
                  <% if !is_admin? && (@item.user_id != current_user.id)%>
                      <%= form_for @bid, :url => buy_bid_path(:item_id => @item.id) do |f| %>
                          <%= f.label :quantity %>
                          <%= f.text_field :quantity %>
                              <br>
                          <%= f.submit "Add to Cart", class: "btn btn-medium btn-primary" %>
                      <% end %>
                  <% end %>
              <% else %>
                  <br></br>
                  <p> Sign In to Buy Item</p>
              <% end %>

            </div>

            <!-- Links to buy or bid for the item -->
            <div id="links_for_item">

              <!-- HIDING THE BID BUTTON FOR THE DEMO   -->

              <!--%= link_to "Bid", new_bid_path(:item_id => @item.id), class: "btn btn-large btn-primary" %>  -->

              <!--%= link_to "Buy", buy_bid_path(:item_id => @item.id), class: "btn btn-large btn-primary" %-->
            </div>

            <!-- Deactivate/Activate Item-->
            <% if is_admin? %>
                <div id="deactivate_user">
                  <!-- to be modified -->
                  <%= render 'deactivate_item_form' %>
                </div>
            <% end %>

          </div>
        </div>
    </section>
</div>

<%= link_to 'Back', items_path %>




