<% provide(:title, "#{@item.name} #{@item.description}") %>
<div class="row">
  <aside class="span4">
    <section>

      <h1>
        <%= "#{@item.name}"%>

      </h1>
      <%= image_tag @item.pic.url(:thumb) %><br/>
      <br />
      <p>
        <%= "$ #{@item.base_price}"%>
      </p>
      <p>
        <%= " #{@item.description}"%>
      </p>

    </section>
  </aside>
</div>

<%= link_to 'Back', items_path %>
