<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" >
    <div class="container">
      <%= link_to "BestBay", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <% if is_admin? %>
                <li><%= link_to "All Users", "/users" ,{:style => 'color: white'}%></li>
                <li><%= link_to "Manage Categories", "/categories" ,{:style => 'color: white'}%></li>
            <% end %>
            <li><%= link_to "Hi, #{current_user.fname} ", current_user ,{:style => 'color: orange'}%></li>
            <% unless is_admin? %>
                <li><%= link_to "Sell", new_item_path %></li>
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account<b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <% if (current_user.creditcards.count == 0) %>
                        <li><%= link_to "Credit Card", new_creditcard_path %></li>
                    <% else %>
                        <li><%= link_to "Credit Card", edit_creditcard_path(@user = current_user) %></li>
                    <% end %>
                    <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                </ul>
            </li>
            <% end %>
            <% if is_admin? %>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% end %>
            <li><%= link_to "My Cart", "/users/#{current_user.id}/cart" %></li>
         <% else %>
            <li><%= link_to "Sign in", signin_path ,{:style => 'color: red'}%></li>
            <li><%= link_to "Register", signup_path %></li>
         <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
